.headline {
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 5px;
}

.hidden {
    display: none;
}

.segments {
    margin-left: 20px;
}


.col-md-8 {
    padding-left: 0;
}

.cnt {
    margin-left: 3%;
}