
.main {
    margin-left: 3%;
}

.headline {
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 5px;
}

.hidden {
    display: none;
}

.segments {
    margin-left: 20px;
}

li {
    margin-bottom: 20px;
    width: 60%;
}