body {
    margin-left: 2%;
}

.headline {
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 5px;
}

.hidden {
    display: none;
}

.segments {
    margin-left: 20px;
}

li {
    margin-bottom: 20px;
    width: 60%;
}

ol {
    padding-left: 0px;
}

.col-md-8 {
    padding-left: 0;
}